<section>
  <h2>Productos</h2>
  <p>Listado que se actualiza al agregar o quitar productos</p>

  <div id="rt-grid" class="grid"></div>
</section>

<script src="/socket.io/socket.io.js"></script>


<script src="/js/realTime.js"></script>
